* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', 'Segoe UI', sans-serif !important;
  background: #fff5f5;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #fff5f5;
}

::-webkit-scrollbar-thumb {
  background: #e74c3c;
  border-radius: 10px;
}